body {
  margin: 50px;
}

footer {
  text-align: center;
  margin: 10px;
  font-size: 12px;
  padding: 20px;
}

h3 {
  font-size: 15px;
  padding-top: 5px;
}

#forecast {
  text-align: center;
  border: none;
  background-color: rgba(111, 111, 111, 0.1);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
  margin: 20px 40px 40px 40px;
  padding: 10px;
}

#info {
  display: block;
  font-size: 15px;
  margin: 50px;
  padding: 10px;

  border: none;
  background-color: rgba(111, 111, 111, 0.1);
  border-radius: 20px;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 10%);
}

#bottomTemp {
  text-align: center;
  font-size: 75px;
  vertical-align: middle;
}

#condition {
  padding: 0px 0px 0px 50px;
  text-transform: capitalize;
}

#highlow {
  text-align: center;
  padding: 5px 0px 0px 0px;
  font-size: 20px;
}

#high-a {
  font-weight: bold;
}

#low-a {
  font-weight: bold;
}

#feelsLike {
  display: flex;
  justify-content: space-between;
  padding: 7px 30px 5px;
}

#humidity {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 5px;
}

#wind {
  display: flex;
  justify-content: space-between;
  padding: 0 30px 5px;
}

.temp {
  font-size: 50px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: bolder;
  padding: 6px;
}

.mb-3 {
  width: 500px;
  display: block;
  margin: 0 auto;
  padding: 15px 0 0 0;
}

.form-control {
  display: inline;
  width: 70%;
}

.heading {
  color: #000000;
  font-size: 40px;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  text-align: left;
  margin: 0;
  padding: 0 0 0 50px;
}

#city {
  padding: 20px 0px 0px 50px;
}

#timeDate {
  font-size: 15px;
  text-transform: none;
}

.container {
  background-image: linear-gradient(180deg, #fdfbfb 0%, #ebedee 100%);
  border-radius: 20px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1);
  width: 800px;
  padding: 10px;
  margin-top: 100px;
}

#weather-image {
  display: inline;
  margin: 0 0 0 30px;
  width: 100px;
}

.units {
  position: relative;
  top: -18px;
  left: 5px;
  text-decoration: none;
  color: #000000;
}

.units .active {
  color: #000000;
  cursor: default;
  text-decoration: none;
}

.units .active:hover {
  text-decoration: none;
}

#forecast-icon {
  width: 70px;
}

.forecast-temp {
  /* font-weight: lighter; */
  padding-bottom: 5px;
}

.hour {
  font-weight: bold;
}
